.guest_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.guest_header {
  width: 100%;
  flex: 1;
}
.guest_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.guest_sub_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
.nav_item {
  color: white;
  margin-right: 3%;
  font-size: 1.4rem;
}
.nav_extras {
  color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}
.post_button {
  position: relative;
  background-color: #3e4095 !important;
  padding: 2%;
}
.post_button_text,
.guest_text {
  color: #0f4a7b !important;
  font-size: 12px;
  margin: 0;
}
.guest_dream {
  font-size: 4rem;
  margin: 7%;
  color: #ffffff;
}
.guest_body,
.guest_left_row {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5%;
}
.guest_body_left,
.guest_body_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 2%;
}
.guest_left_row {
  padding: 0;
  margin-bottom: 4%;
  width: 70%;
}
.guest_text {
  color: #3e3e40;
}
.grey_text {
  color: rgba(62, 62, 64, 0.5);
}
.guest_job_container {
  display: flex;
  flex: 1;
  width: 100% !important;
  flex-direction: column;
  background-color: #ffffff !important;
  box-shadow: 0px 4px 17px rgba(98, 190, 203, 0.15);
  border-radius: 10px;
  padding: 1% 4%;
  margin: 2% 0;
}
.error_body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.guest_job_header,
.guest_job_location,
.pagination_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.guest_job_header_text {
  font-size: 1.9rem;
  color: #0f4a7b;
}
.guest_job_location_text {
  font-size: 1.4rem;
  color: #3e3e40;
  margin-left: 0.6rem;
}
.guest_job_description {
  font-size: 1.1rem;
  color: #3e3e40;
}
.guest_job_location,
.pagination_container {
  justify-content: flex-start;
}
.guest_job_footer {
  display: flex;
  flex: 1;
  height: 0;
  justify-content: space-between;
  padding-bottom: 5%;
}
.search_container {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.guest_search {
  width: 30% !important;
  height: 2rem !important;
}
.search {
  background: #ffffff;
  border: 0.5px solid #0f4a7b;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2% 3%;
  color: #0f4a7b;
}
.see_button {
  padding: 2rem;
  background: #ea5566;
  border-radius: 10px;
}
.see_button_text {
  margin-top: 2%;
  color: #ffffff;
}
.pagination_box {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.7);
  border: 0.2px solid #0f4a7b;
  box-sizing: border-box;
  border-radius: 4px;
  height: 0;
  cursor: pointer;
}
.pagination_text {
  margin-top: 1rem !important;
  font-size: 1.1rem;
  color: #0f4a7b;
}
.guest_footer {
  margin-top: 12%;
  background-color: #0f4a7b;
  padding: 2% 7%;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
}
.guest_footer_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socials {
  justify-content: flex-start;
  align-items: center;
}
.selected_box {
  background-color: #0f4a7b;
}
.selected {
  color: #ffffff;
}
